spring:

  r2dbc:
    url: ${SPORTS_USER_R2DBC_URL:r2dbc:postgresql://sports-postgres:5432/sports_user}
    username: ${SPORTS_USER_DB_USER:username}
    password: ${SPORTS_USER_DB_PASSWORD:password}

  liquibase:
    url: ${SPORTS_USER_JDBC_URL:jdbc:postgresql://sports-postgres:5432/sports_user}
    user: ${SPORTS_USER_DB_USER:username}
    password: ${SPORTS_USER_DB_PASSWORD:password}

  security:
    jwt:
      secret: ${SECRET:aGZiYmtiYWllYmNpZWFpZWJsZWNldWNlY2xhZWNhaWJlbGNhZWN3Q0VCV0VXSUM=}
      access: ${ACCESS:1}
      refresh: ${REFRESH:24}

management:
  endpoints:
    web.exposure.include: "*"
  endpoint:
    health:
      show-details: always